@use 'reset';
@use 'variables/global';
@use 'themes/light';
@use 'themes/dark';


.app {
	min-height: 100vh;
	display: flex;
	background: var(--bg-color);
	font: var(--font-m);
}

.content-page { 
	width: 100%;
}
