.textContainer {
	color: var(--secondary-color);
	

	.title {
		display: -webkit-box;
		font-weight: 700 !important;
		-webkit-box-orient: vertical;
		overflow: hidden;

		&.titleAlignCenter {
			text-align: center;
		}

		&.titleAlignLeft {
			text-align: left;
		}

		&.titleAlignRight {
			text-align: right;
		}

		&.clamp1 {
			-webkit-line-clamp: 1;
			line-clamp: 1;
		}
	
		&.clamp2 {
			-webkit-line-clamp: 2;
			line-clamp: 2;
		}
	
		&.clamp3 {
			-webkit-line-clamp: 3;
			line-clamp: 3;
		}
	
		&.clamp4 {
			-webkit-line-clamp: 4;
			line-clamp: 4;
		}
	
		&.clamp5 {
			-webkit-line-clamp: 5;
			line-clamp: 5;
		}
	
		&.clamp6 {
			-webkit-line-clamp: 6;
			line-clamp: 6;
		}
	
	}

	.titleMarginBottom {
		margin-bottom: 20px;
	}

	

	.text {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		

		&.clamp1 {
			-webkit-line-clamp: 1;
			line-clamp: 1;
		}

		&.clamp2 {
			-webkit-line-clamp: 2;
			line-clamp: 2;
		}

		&.clamp3 {
			-webkit-line-clamp: 3;
			line-clamp: 3;
		}

		&.clamp4 {
			-webkit-line-clamp: 4;
			line-clamp: 4;
		}

		&.clamp5 {
			-webkit-line-clamp: 5;
			line-clamp: 5;
		}

		&.clamp6 {
			-webkit-line-clamp: 6;
			line-clamp: 6;
		}	
	}

	&.textSizeXs {
		font: var(--font-xs);

		.title {
			font: var(--font-s);
		}
	}

	&.textSizeS {
		font: var(--font-s);

		.title {
			font: var(--font-m);
		}
	}

	&.textSizeM {
		font: var(--font-m);

		.title {
			font: var(--font-l);
		}
	}

	&.textSizeL {
		font: var(--font-l);

		.title {
			font: var(--font-xl);
		}
	}


	&.textAlignCenter {
		text-align: center;
	}

	&.textAlignLeft {
		text-align: left;
	}	

	&.textAlignRight {
		text-align: right;
	}
}	
