.articleDetailsPage {
    color: var(--primary-color);

    .button {
        color: var(--primary-color);
    }

    .recommendationsList {
        flex-wrap: nowrap;
        justify-content: start;
        overflow-x: auto;
    }
}
