.sidebar{
	width: var(--sidebar-width);
	height: calc(100vh);
	background: var(--inverted-bg-color);
	transition: width 0.3s;
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}

.logoWrapper {
	svg { 
		width: 200px;
		height: 200px;
		fill: #021b7e;
	}
}

.logoCollapsed { 
	svg {
		width: 80px; 
		height: 80px;
		fill: #021b7e;
		transition: width 0.3s ease-in-out;
	}
}

.logo {
	width: 100px;
	border-radius: 50%;
} 

  
.linkWrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-top: 45px;
}