.app-dark-theme {
    --bg-color: #212121;
    --layout-bg-color: #181818;
    --primary-color: #e0e0e0;
    --secondary-color: #b0b3b8;
    --tertiary-color: #2e2e2e;
    --logo-color: #e0e0e0;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
}
