.navbar {
	height: var(--navbar-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	background: var(--inverted-bg-color);
	padding: 0 71px 0 27px;
}

.buttonWrapper {
	display: flex;
	align-items: center;
	gap: 25px;
}