.navbar {
	height: var(--navbar-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 71px 0 27px;
	background: var(--layout-bg-color);
	gap: 50px;
}

.buttonWrapper {
	display: flex;
	align-items: center;
	gap: 25px;
}

.breadcrumbs{
	color: var(--secondary-color);
	font-weight: 700;
}