
.profileViewContainer{
	display: flex;
	margin: 30px;
	flex-direction: column;
	gap: 20px;

	.profileCardWrapper{
		display: flex;
		align-items: center;	
		justify-content: space-between;
		padding: 20px;	
		border: 1px solid var(--primary-color);
		border-radius: 30px;
		gap: 20px;

		.profileCardLeftContent {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}

	.viewInputsContainer{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;	
	}
}